<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="border-bottom p-3 bg-white shadow-sm">
            <div class="container">
                <a href="/logout" class="float-right">Logout</a>
                <h1 class="text-align-center text-inset">Welcome to the dashboard</h1>
            </div>
        </div>
        <div class="container border p-5">
            <h4><strong>Username: </strong>{{ user.firstName }} {{ user.lastName }}</h4>
            <h4><strong>Email: </strong> {{ user.email}}</h4>
        </div>
    </div>
</body>
</html>